@font-face {
  font-family: "Futura PT";
  src: url(../fonts/FuturaPT-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Futura PT";
  color: #949494;
  background-color: #e5e5e5;
  background-image: url(../images/body-bg2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/body-bg2x.png);
  }
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: default;
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
  min-width: 85%;
}
.navbar__menu-list {
  padding: 14px 0 10px 0;
  display: flex;
  align-items: default;
  justify-content: default;
  flex-direction: default;
  cursor: pointer;
}
.navbar__menu-list--link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  display: flex;
  align-items: default;
  justify-content: default;
  flex-direction: default;
  column-gap: 17px;
}
.navbar__menu-list--link span:nth-child(2)::before {
  content: "";
  margin-right: 9px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FFBD54;
}
.navbar__menu-list--link span:nth-child(2)::after {
  content: "";
  margin-left: 9px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FFBD54;
}
.navbar__menu-list svg {
  margin-right: 9px;
  fill: #FFBD54;
}
.navbar__menu-list:hover .navbar__menu-list--link {
  transition: all linear 0.2s;
  color: #FFBD54;
}
.navbar__menu-list:active .navbar__menu-list--link {
  color: #333333;
  opacity: 0.6;
}

.navburger {
  background-color: #ffffff;
}
.navburger .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: default;
}
.navburger .container svg {
  position: absolute;
  left: 0;
  top: -19px;
  cursor: pointer;
}
.navburger .container svg:hover {
  transition: all ease-out 0.1s;
  opacity: 0.8;
}
.navburger .container svg:active {
  opacity: 0.6;
}
.navburger__flexbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
  min-width: 77%;
}
.navburger__flexbox-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
  min-width: 67%;
}
.navburger__flexbox-menu--list {
  padding: 20px 0;
  cursor: pointer;
}
.navburger__flexbox-menu--link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.navburger__flexbox-menu--list:hover .navburger__flexbox-menu--link {
  color: #FFBD54;
}
.navburger__flexbox-btn {
  display: flex;
  align-items: center;
  justify-content: default;
  flex-direction: default;
  column-gap: 4.68px;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: none;
  cursor: pointer;
}
.navburger__flexbox-btn:hover {
  transition: 0.2s;
  color: #FFBD54;
}
.navburger__flexbox-btn:active {
  transition: 0.2s;
  color: #949494;
  opacity: 0.6;
}

header {
  padding-bottom: 40px;
  background-image: url(../images/heropets.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position-y: -100px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  header {
    background-image: url(../images/heropets2x.png);
    background-repeat: no-repeat;
    min-height: 100vh;
  }
}
header .container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: default;
  padding-top: 153px;
  padding-right: 60px;
}
header .hero__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  max-width: 608px;
  color: #333333;
}
header .hero__title-blue {
  color: #78C0DE;
}
header .hero__text {
  margin: 29px 0 38px 0;
  max-width: 495px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
header .hero__btn {
  min-width: 181px;
  background-color: #333333;
  padding: 15px 48px;
  color: #ffffff;
  border-radius: 3px;
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
}
header .hero__btn:hover {
  min-width: 181px;
  background-color: #FFBD54;
  padding: 15px 48px;
  color: #333333;
  border-radius: 3px;
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
}

.decoration {
  text-align: center;
  padding-top: 58px;
  padding-bottom: 81px;
  background-image: url(../images/qt1.png), url(../images/q1.png);
  background-repeat: no-repeat;
  background-position-x: 131px, 1071px;
  background-position-y: 64px, 169px;
  min-width: 1134px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .decoration {
    background-image: url(../images/qt2x.png), url(../images/q2x.png);
    background-repeat: no-repeat;
    background-position-x: 131px, 1071px;
    background-position-y: 64px, 169px;
  }
}
.decoration__line {
  margin: 0 auto;
  max-width: 140px;
  border: 1px solid #DBDBDB;
}
.decoration__text {
  margin: 43px auto 36px auto;
  max-width: 753px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.decoration__subtitle {
  margin-top: 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}

.cats {
  padding-bottom: 127px;
}
.cats__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #333333;
}
.cats__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
  max-width: 100%;
}
.cats__cards-item {
  padding: 30px 32px 42px 35px;
  min-width: 193px;
  background-color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.cats__cards-item--title {
  margin-top: 21px;
  max-width: 126px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
}
.cats__cards-item:hover {
  transition: 0.3s;
  transform: scale(1.2);
  opacity: 0.7;
}
.cats__cards-item:active {
  opacity: 0.5;
}
.cats__cat {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  padding: 41px 105px 0 0;
  min-width: 1223px;
  background-color: #ffffff;
  border-radius: 0px 5px 5px 5px;
  background-image: url(../images/MaskGroup.png);
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 414px;
  background-position-y: center;
  background-position-x: 32px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cats__cat {
    background-image: url(../images/MaskGroup@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.cats__cat .deco__title {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: #333333;
}
.cats__cat .deco__text {
  margin-top: 9px;
  max-width: 492px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.cats__cat .deco .btnsf {
  display: flex;
  align-items: center;
  justify-content: default;
  flex-direction: default;
  column-gap: 21px;
}
.cats__cat .deco__btnf {
  min-width: 185px;
  background-color: #FFBD54;
  padding: 14px 35px;
  color: #ffffff;
  border-radius: 3px;
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
  display: flex;
  align-items: center;
  justify-content: default;
  flex-direction: default;
  column-gap: 6px;
  margin-top: 34px;
}
.cats__cat .deco__btnf:hover {
  min-width: 185px;
  background-color: #333333;
  padding: 14px 35px;
  color: #FFBD54;
  border-radius: 3px;
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
}
.cats__cat .deco__btnf:active {
  opacity: 0.6;
}
.cats__cat .deco__btns {
  min-width: 241px;
  background-color: #333333;
  padding: 14px 37px;
  color: #ffffff;
  border-radius: 3px;
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
  display: flex;
  align-items: center;
  justify-content: default;
  flex-direction: default;
  column-gap: 6px;
  margin-top: 34px;
}
.cats__cat .deco__btns:hover {
  min-width: 241px;
  background-color: #333333;
  padding: 14px 37px;
  color: #FFBD54;
  border-radius: 3px;
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
}
.cats__cat .deco__btns:active {
  opacity: 0.6;
}

.cobachka {
  padding: 90px 0 88px 80px;
  min-height: 481px;
  background-image: url(../images/bd.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cobachka {
    background-image: url(../images/bd2x.png);
    background-repeat: no-repeat;
  }
}
.cobachka__title {
  margin-top: 90px;
  margin-left: 222px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.cobachka__em {
  margin-left: 222px;
  display: flex;
  align-items: center;
  justify-content: default;
  flex-direction: default;
  column-gap: 21px;
}
.cobachka__em-gm {
  padding: 18px 0 12px 22px;
  min-width: 335px;
  min-height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #949494;
  border: none;
  outline: none;
}
.cobachka__em-btn {
  min-width: 188px;
  background-color: #333333;
  padding: 14px 53px;
  color: #ffffff;
  border-radius: 3px;
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
}
.cobachka__em-btn:hover {
  min-width: 188px;
  background-color: #333333;
  padding: 14px 53px;
  color: #FFBD54;
  border-radius: 3px;
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
}
.cobachka__em-btn:active {
  opacity: 0.5;
}

.longCards {
  padding-bottom: 265px;
  padding-top: 151px;
}
.longCards__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}
.longCards__cards {
  min-width: 100%;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
}
.longCards__cards-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.longCards__cards-item {
  display: flex;
  align-items: flex-end;
  justify-content: default;
  flex-direction: default;
  padding-left: 30px;
  padding-bottom: 38px;
  max-width: 305px;
  min-height: 435px;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
  background-image: url(../images/greycat.png);
  background-repeat: no-repeat;
  background-position-y: top;
  background-color: #e5e5e5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .longCards__cards-item {
    background-image: url(../images/graycat2x.png);
    background-repeat: no-repeat;
    background-position-y: top;
  }
}
.longCards__cards-item--deco time {
  text-align: right;
}
.longCards__cards-item--deco h4 {
  margin-top: 2px;
  max-width: 182px;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}
.longCards__cards-item--deco p {
  margin: 10px 0 35px 0;
  max-width: 244px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.longCards__cards-itemho {
  display: flex;
  align-items: flex-end;
  justify-content: default;
  flex-direction: default;
  padding-left: 30px;
  padding-right: 34px;
  padding-bottom: 38px;
  max-width: 305px;
  min-height: 435px;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
  background-position-y: top;
  background-color: #ffffff;
}
.longCards__cards-itemho:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.longCards__cards-items {
  display: flex;
  align-items: flex-end;
  justify-content: default;
  flex-direction: default;
  padding-left: 30px;
  padding-bottom: 38px;
  max-width: 305px;
  min-height: 435px;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
  background-image: url(../images/dd.png);
  background-repeat: no-repeat;
  background-position-y: top;
  background-color: #e5e5e5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .longCards__cards-items {
    background-image: url(../images/dd2x.png);
  }
}
.longCards__cards-items:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.longCards__cards .cards-flex {
  display: flex;
  align-items: default;
  justify-content: default;
  flex-direction: default;
}
.longCards__cards .cards-flex__item {
  background-image: url(../images/r.png);
  min-width: 305px;
  min-height: 435px;
}
.longCards__cards .cards-flex__item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.goldenFish {
  display: flex;
  align-items: default;
  justify-content: default;
  flex-direction: default;
  background-image: url(../images/feedback-bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  min-height: 624px;
  background-color: #333333;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .goldenFish {
    background-image: url(../images/feedback-bg@2x.png);
    background-repeat: no-repeat;
    background-position-x: right;
  }
}
.goldenFish .container {
  margin: 62px 0 0 70px;
}
.goldenFish iframe {
  min-width: 400px;
  min-height: 652px;
}
.goldenFish__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #ffffff;
}
.goldenFish__text {
  margin: 14px 0 29px 0;
  max-width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.goldenFish__validator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 14px;
}
.goldenFish__validator-inp {
  padding: 16px 0 13px 22px;
  min-width: 375px;
  min-height: 50px;
  background-color: #ffffff;
  outline: none;
  border: none;
}
.goldenFish__validator textarea {
  padding: 17px 0 0 22px;
  min-width: 375px;
  min-height: 165px;
  outline: none;
}
.goldenFish__btn {
  min-width: 226px;
  background-color: #FFBD54;
  padding: 15px 49px;
  color: #ffffff;
  border-radius: 3px;
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
}
.goldenFish__btn:hover {
  min-width: 226px;
  background-color: #333333;
  padding: 15px 49px;
  color: #FFBD54;
  border-radius: 3px;
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;
}
.goldenFish__btn:active {
  opacity: 0.5;
}

footer {
  padding: 60px 0 23px;
  background-color: #F3F3F3;
  border: 1px solid #EBEBEB;
}
footer .hero-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: default;
}
footer .hero-footer__flexbox-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
footer .hero-footer__flexbox-menu--link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
footer .hero-footer__flexbox-menu--link:hover {
  color: #FFBD54;
}
footer .hero-footer__flexbox-menu--list {
  padding-bottom: 14px;
}
footer .hero-footer .navbar__menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: default;
  min-width: 51%;
}
footer .hero-footer .navbar__menu-list {
  display: flex;
  align-items: default;
  justify-content: default;
  flex-direction: default;
}
footer .hero-footer .navbar__menu-list--link {
  display: flex;
  flex-wrap: wrap;
  max-width: 148px;
}

/*# sourceMappingURL=main.css.map */
