@use'../mixins';
@use'../variables';

.cats{
    &__title{
        margin-bottom: 80px;
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        text-align: center;
        color: variables.$primary-color;
    }
    &__cards{
        @include mixins.flexbox(center, space-between);
        max-width: 100%;
        &-item{
            padding: 30px 32px 42px 35px;
            min-width: 193px;
            background-color: variables.$thirdly-color;
            border-radius: 5px 5px 0px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            &--title{
                margin-top: 21px;
                max-width: 126px;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-align: center;
            }
        }
        &-item:hover{
            transition: 0.3s;
            transform: scale(1.2);
            opacity: 0.7;
        }
        &-item:active{
            opacity: 0.5;
        }
    }
    &__cat{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 8px;
        padding: 41px 105px 0 0 ;
        min-width: 1223px;
        background-color: variables.$thirdly-color;
        border-radius: 0px 5px 5px 5px;
        background-image: url(../images/MaskGroup.png);
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 414px;
        background-position-y: center;
        background-position-x: 32px;
        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
         only screen and (-o-min-device-pixel-ratio: 2/1),
          only screen and (min-device-pixel-ratio: 2),
           only screen and (min-resolution: 192dpi),
            only screen and (min-resolution: 2dppx){
                background-image: url(../images/MaskGroup@2x.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
            .deco{
                &__title{
                   margin-bottom: 9px;
                   font-weight: 500;
                   font-size: 36px;
                   line-height: 20px;
                   color: variables.$primary-color;
                }
                &__text{
                    margin-top: 9px;
                    max-width: 492px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                }
                .btnsf{
                    @include mixins.flexbox(center);
                    column-gap: 21px
                }
                &__btnf{
                    @include mixins.btn(185px, variables.$main-color, 14px 35px, variables.$thirdly-color);
                    @include mixins.flexbox(center);
                    column-gap: 6px;
                    margin-top: 34px
                }
                &__btnf:hover{
                    @include mixins.btn(185px, variables.$primary-color, 14px 35px, variables.$main-color);
                }    
                &__btnf:active{
                     opacity: 0.6;
                }
                &__btns{
                    @include mixins.btn(241px, variables.$primary-color, 14px 37px, variables.$thirdly-color);
                    @include mixins.flexbox(center);
                    column-gap: 6px;
                    margin-top: 34px;
                }
                &__btns:hover{
                    @include mixins.btn(241px, variables.$primary-color, 14px 37px, variables.$main-color);
                }
                &__btns:active{
                     opacity: 0.6;
                }
            }
    }
}